/* Space out content a bit */
html, body {
  -webkit-font-smoothing: antialiased;
  font: 500 15px/20px "museo-3",sans-serif !important;
}
body {
  background: #e9e9e9;
  padding-top: 20px;
  padding-bottom: 20px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/***/
/*PAGE HOME*/
.page {
    padding-top: 2%;
    height: auto;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  height: 450px;
  background: white;
  margin: 0;
}
.jumbotron h1 {
  margin: 0;
  font-size: 55px;
}
.btn > .fa {
    padding-right: 15px;
}
.btn-email, .btn-facebook, .btn-google {
  font-size: 21px;
  padding: 8px 32px;
  font-weight: bold;
  color: white !important;
  border-radius: 100px;
  margin: 5px 0;
}
.btn-email {
  background-color: #1caff6;
}
.btn-facebook {
  background-color: #2275d1;
}
.btn-google {
  background-color: #d83732;
}
.ideas {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 90px 0;
}
/*footer*/
body > footer {
    background-color: black;
    color: white;
    padding: 20px  0;
}
.about {
    width: 45%;
    display: inline-block;
    padding-left: 5%;
}
.our-social-networks {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 1.5% 0;
    text-align: right;
}
/*inicio page*/
.content-page {
    width: 50%;
    display: inline-block;
    background: white;
    border-radius: 10px;
    min-height: 500px;
    box-shadow: 0 0 25px rgba(0,0,0,0.04);
}
.pagina-inicio {
    margin: 3% auto;
    text-align: center;
}
.sidebar-left {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
}
.sidebar-left > aside {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.04);
    padding: 20px 30px;
}
.sidebar-left > aside > h2 {
    margin: 0;
}

.lista-eventos > ul > li {
  display: inline-block;
  border-bottom: 3px solid rgb(21, 125, 238);
  width: 30%;
  border-radius: 3px;
}
.options-list {
    margin-top: 20px;
    max-height: 250px;
    overflow-y: scroll;
}
.image-option-list {
    max-width: 30%;
    text-align: left;
    border-radius: 50%;
    padding-right: 25px;
}
.item-option-list {
    display: block;
    text-align: left;
}
.options-list > ul > li {
    width: 80%;
    margin: 10px auto;
}
.lista-eventos > ul {
    margin-top: 12px;
}
.lista-eventos > input[type="text"] {
    margin: 12px 0;
    width: 80%;
    border-radius: 10px;
    border: none;
    background: rgba(104, 102, 102, 0.51);
    padding: 8px;
    outline: none;
    color: white;
    font-weight: 200;
}
.siguenos {
    margin-top: 1em;
}
.siguenos > ul > li {
    display: inline-block;
    margin: 20px 5px;
    border-radius: 5px;
}
.tw-icon {
  background-color: #1caff6;
}
.face-icon {
  background-color: #2275d1;
}
.google-plus-icon {
  background-color: #d83732;
}
.siguenos > ul > li > a {
    padding: 8px 20px;
    display: block;
    color: white;
}
/*map*/
#gmaps-canvas {
  width: 65%;
  position: relative !important;
  height: 30em;
  z-index: 8;
  display: inline-block;
  border: 5px solid;
}
section#content-map{
    background: white;
    text-align: center;
    padding: 6em 0;
}
div.search-map {
    vertical-align: top;
    -webkit-transition: all .5s ease-in-out;
    display: none;
}
ul.points-container {
  text-align: left;
  width: 70%;
  margin: 0 auto;
  margin-top: 1em;
  overflow-y: scroll;
  max-height: 18em;
}
ul.points-container > li {
    margin-bottom: 5px;
}
div.search-map h2 {
    margin: 0;
}
.increaseWidth {
  width: 120%;
}
.seeSearch {
  display: inline-block !important;
  -webkit-transition: all .5s ease-in-out;
}

a.button-search-list {
    background: rgb(80, 70, 70);
    color: white;
    padding: 3px;
    border-radius: 7px;
    position: absolute;
    top: 6em;}

.facebook-icon, .google-plus-icon, .twitter-icon {
    color: white !important;border: none;
}
.facebook-icon {
    background-color: #2275d1 !important;
}
.google-plus-icon {
    background-color: #d83732 !important;
}
.twitter-icon {
    background-color: #1caff6 !important;
}
.descrip ul > li, .about-event-social > li{
    display: inline-block;
    background: rgb(129, 136, 177);
    border-radius: 5px;
}
.descrip ul > li > a, .about-event-social > li a {
    padding: 7px 20px;
    display: block;
    color: white;
}
.description_option {
  display: none;
  text-align: center;
}
.description_option > section {
    margin: 0 auto;
    display: inline-block;
    width: 64%;
    padding: 1em 0 4em 0;
    position: relative;
}
figure.image {}
figure.image, div.descrip {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    text-align: justify;
}
div.descrip > h3 {
    margin: 0;
    color: #428bca;
}
div.descrip > ul {
    margin-top: 2em;
}
div.descrip > ul > li {
    margin: 5px;
}
figure.image > img {
    border-radius: 5px;    
    max-width: 95%;  
}
div.descrip > p {
    margin-top: 3em;
}
a.close-descrip-institute {
    position: absolute;
    right: 0;
    top: 9%;
    color: white;
    font-weight: bolder;
    font-family: cursive;
    background: #428bca;
    padding: 5px 10px;
    border-radius: 50%;
}
.description_option > section h2 {
    text-align: left;
    border-bottom: 2px solid rgb(185, 185, 185);
    padding-bottom: 9px;
    margin-bottom: 1em;
}
ul.list-events > li {
  display: inline-block;
  width: 30%;
  padding: 2em;
  background: white;
  text-align: center;
  margin: 0 1em 1em 1em;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  vertical-align: top;
}
ul.list-events li.ng-scope img {
    max-width: 80%;
    margin: 0 auto;
}

div.about-event {
    text-align: justify;
}
.list-events h3 {
    color: #1caff6;
}
ul.about-event-social {
    text-align: center;
    margin-top: 2em;
}
ul.about-event-social > li {
    margin: 0 10px;
}
li.percentage, li.day_left {
  background: none;
}
.about-event-social a.google-plus-icon {
    border-radius: 5px;
    text-decoration: none;
}
/*****************************/
/*********** MENU ************/
/*****************************/
 .dropdown-toggle {
  color: white !important;
  background: transparent !important;
  box-shadow: none !important;
  padding: 13px;
  text-decoration: none !important;
  display: block;
  font-size: 16px;
  font-weight: bolder;
  margin: 3px 0 5px 0;
  cursor: pointer;
}
#main-menu .navbar-nav > li > a {
  color: white !important;
  font-weight: bolder;
  font-size: 16px;
  padding: 8px 15px;  
  border-radius: 200px;
  margin: 7px 15px;
  transition: all .4s ease-in-out;
}
#main-menu .navbar-nav > li > a:hover, #main-menu .navbar-nav > li > a:active, .menu-active {
  background: #1493d1;
}
#main-menu {
    text-align: center; background-color: #1caff6; position: fixed; width: 100%; top: 0;z-index: 9;
}
#main-menu > div.navbar-header {
    float: none;
    display: inline-block;
}
#main-menu > div.navbar-collapse.collapse {
    display: inline-block !important; vertical-align: top;
}

/*** modal panel donate***/

.form-panel-help {
  display: none;
}
textarea#descriptionOtherHelp {
    margin-bottom: 1em;
}

.form-panel-help div.input-group {
    margin: 1em 0;
}
div.btn-group.btn-group-lg {
    width: 100%;
}
div.btn-group.btn-group-lg button.btn.btn-default {
    width: 50%;
}




.form-panel-help div.input-group {
    margin: 1em 0;
}

/*modal*/
body > div.modal-backdrop.fade.in {
    background: #34495e;
    opacity: .8;
}
.panel-default {
  width: 60%;
  margin: 0 auto;
}
.form-group{
  margin: 0;
}
.form-control {
    height: 50px;
    font-size: 18px;
    
}
.panel1 .form-control, .panel2 .form-control {
  border-bottom: none;
  border-radius: 0;
}
.panel1 .form-group:first-child > .form-control, .panel2 .form-group:first-child > .form-control{
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
}
.last-form-control {
    border-bottom: 1px solid #ccc !important;
    border-radius: 0 0 3px 3px !important;
}
[data-type='password'] { margin-top: 10px; }

/*loader*/

.container.loader {
  background-color: #4cbda7;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  bottom: 0;
  padding-top: 25%;
}

.ghost {
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
     transform: translate(0, 20px);
  }
}
.shadow {
  animation: shrink 3s ease-out infinite;
  transform-origin: center center;
}

@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%;
  }
  50% {
    width: 60%;
    margin: 0 18%;
  }
  100% {
    width: 90%;
    margin: 0 5%;
  }
}

/* Customize container */
@media (min-width: 768px) {
  .responsive-menu {
    display: none !important;
  }
  .no-responsive {
    display: inline-block;
  }
  #main-menu > div.navbar-collapse.in {
    display: inline-block;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .jumbotron h1 {
    margin: 0;
    font-size: 36px; 
  }
  .panel-default {
    width: 90%;
  }
  .responsive-menu {
    display: block;
  }
  .no-responsive {
    display: none !important;
  }
  #main-menu > div.navbar-collapse.collapse {
    display: none !important;
  }
  #main-menu > div.navbar-header {
    display: block !important;
  } 
  .content-page, .sidebar-left {
    width: 80%;
  }
  .sidebar-left {
    margin-left: 0;
    margin-top: 3%;
  }
}
