<div class="pagina-inicio">
  <br>
  <section class='content-page'>
  	<h1>Bienvenido!</h1>
  </section>
  <section class='sidebar-left'>
  	<aside class='calificacion'>
  		<h2>Su Calificacion</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, cum sint autem saepe doloremque provident assumenda nisi quidem officia at ipsa odit reprehenderit numquam eius voluptas in delectus. In, soluta.</p>
  	</aside>
  	<br>
  	<aside class='lista-eventos'>
  		<h2>Lista de eventos</h2>
  		<input type="text">
  		<ul>
  			<li>Esta Semana</li>
  			<li>Este Mes</li>
  			<li>Todos</li>
  		</ul>
  		<div class="options-list">
  			<ul>
  				<li ng-repeat='item in items'>
  					<a href="" class="item-option-list">
  						<img ng-src="{{ item.image }}" alt="" class="image-option-list"><span>{{ item.name }}</span>
  					</a>
  				</li>
  			</ul>
  		</div>
  	</aside>
  	<aside class='siguenos'>
  		<h2>Siguenos</h2>
  		<ul>
  			<li><a class='tw-icon' href=""><i class="fa fa-twitter"></i> 120k</a></li>
  			<li><a class='face-icon' href=""><i class="fa fa-facebook"></i> 50k</a></li>
  			<li><a class='google-plus-icon' href=""><i class="fa fa-google-plus"></i> 40k</a></li>
  		</ul>
  	</aside>
  </section>
  
  <br>
</div>