<div class="jumbotron">
  <br>
  <div class='row'>
    <div class='col-sm-6'>
      <h1>Somos cultura.</h1>
      <img class='image_intro' src="images/muni.jpg" alt="I'm Yeoman"><br>
      <p class="lead">
        Always a pleasure scaffolding your apps.
      </p>
    </div>
    <div class='col-sm-6'>
      <a href="" class='btn btn-email'><i class='fa fa-twitter'></i> Registrate con tu Twitter {{ prueba }} </a>
      <a href="" class='btn btn-facebook'><i class='fa fa-facebook'></i> Registrate con Facebook</a>
      <a href="" class='btn btn-google'><i class='fa fa-google-plus'></i> Registrate con Google</a>
    </div>
  </div>
</div>
<div class='container ideas'>
  <div class="row">
    <div class="col-sm-4">
        <i class="fa fa-map-marker fa-5x"></i>
        <p class='lead'>
          Busca en el mapa.
        </p>
    </div>
    <div class="col-sm-4">
        <i class="fa fa-truck fa-5x"></i>
        <p class='lead'>
          Colabora donando.
        </p>
    </div>
    <div class="col-sm-4">
        <i class="fa fa-mobile-phone fa-5x"></i>
        <p class='lead'>
          Hazlo desde tu movil.
        </p>
    </div>
  </div>
</div>
