<loader ng-if='!completeLoatedMap'></loader>
<section id="content-map" ng-class="{increaseWidth:seeListSearchOptions}">
	<a class='button-search-list' ng-click='searchListToggle()' href="">SEE MORE</a>
	<div class="search-map" ng-class="{seeSearch:seeListSearchOptions}">
		<h2>Lista de eventos</h2>
  		<input type="text" ng-model='search'>
		<ul class='points-container'>
			<li ng-repeat='item in points | filter: search'>
				<a href="item">{{item[3]}}</a>
			</li>
		</ul>
	</div>
	<div id="gmaps-canvas"></div>
</section>
