<loader ng-if='!completeLoatedMap'></loader>
<section id="content-map" ng-class="{increaseWidth:seeListSearchOptions}">
	<a class='button-search-list' ng-click='searchListToggle()' href="">SEE MORE</a>
	<div class="search-map" ng-class="{seeSearch:seeListSearchOptions}">
		<button type="button" class="btn btn-success" ng-click="loadSchool()">Escuelas</button>
		<button type="button" class="btn btn-info" ng-click="loadEvents()">Eventos</button>
		<br>
		<form role="form">
			  <div class="form-group">
			    <label for="exampleInputEmail1"></label>
			    <input type="text" style="height: 30px !important; width: 77% !important;" class="form-control" id="exampleInputEmail1" placeholder="Search" value="" ng-model='search'>
			  </div>
  		</form>
		<ul class='points-container' ng-show="paint">
			<li ng-repeat='item in school | filter: search'>
				<a href="" ng-click="markMap(item)" >{{ item.name }}</a>
			</li>
		</ul>
		<ul class='points-container' ng-hide="paint">
			<li ng-repeat='item in point | filter: search'>
				<a href="" ng-click="markMap(item)" >{{ item.name }}</a>
			</li>
		</ul>
	</div>
	<div id="gmaps-canvas"></div>
</section>
