<div class="jumbotron">
<ul class="list-group">
  <li class="list-group-item"><input type="text" class="form-control" id="exampleInputEmail1" placeholder="email"></li>
  <li class="list-group-item"><input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre"></li>
  <li class="list-group-item"><input type="text" class="form-control" id="exampleInputEmail1" placeholder="Foto"></li>
  <li class="list-group-item">Escuela</li> 
  <li class="list-group-item"><input type="text" class="form-control" id="exampleInputEmail1" placeholder="Rol" readonly></li>
</ul>
</div>