<div class="jumbotron">
  <br>
  <div class="row">
    <div class="col-sm-4">
        <i class="fa fa-map-marker fa-5x"></i>
        <p class='lead'>
          Busca en el mapa.
        </p>
    </div>
    <div class="col-sm-4">
        <i class="fa fa-truck fa-5x"></i>
        <p class='lead'>
          Colabora donando.
        </p>
    </div>
    <div class="col-sm-4">
        <i class="fa fa-mobile-phone fa-5x"></i>
        <p class='lead'>
          Hazlo desde tu movil.
        </p>
    </div>
  </div>
</div>
<div class='container ideas'>
  <div class="row">
    <div class="col-sm-4">
        <i class="fa fa-map-marker fa-5x"></i>
        <p class='lead'>
          Busca en el mapa.
        </p>
    </div>
    <div class="col-sm-4">
        <i class="fa fa-truck fa-5x"></i>
        <p class='lead'>
          Colabora donando.
        </p>
    </div>
    <div class="col-sm-4">
        <i class="fa fa-mobile-phone fa-5x"></i>
        <p class='lead'>
          Hazlo desde tu movil.
        </p>
    </div>
  </div>
</div>
